

   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
   
   :root {
       --pc: rgb(8, 8, 58);
       --sc: rgb(144, 119, 119);
       --tc: rgb(8, 7, 7);
   }
   body{
    font-family: var(--font-poppins) !important;
   }
   
   nav {
       height: 5rem;
       background: #1B1A1B;
       color: rgb(220, 220, 220);
       display: flex;
       justify-content: space-between;
       align-items: center;
       position: sticky;
       top: 0;
       z-index: 5;
       width: max-content;
       width: 100vw;
   }

   .overview {
       display: flex;
       padding: 2rem;
   
   }
   .overview li {
       padding: 2rem;
   }
   
   .overview a {
       font-size: 1.25rem;
   }
   
   .nav-items {
       display: flex;
       align-items: center;
   }

   .logo img{
    height: 3.5rem;
    margin-left: 3rem;
   }
   
   #login {
       height: 3rem;
       font-size: 1.25rem;
       background-color: #4477CE;
       padding-left: 1.5rem;
       padding-right: 1.5rem;
       border-radius: 2rem;
       padding-top: 0px;
       color: #ffffff;
       border: none;
       outline: none;
       margin-right: 2rem;
   }
   
   .nav-items li {
       font-size: 1rem;
       list-style-type: none;
   }
   
   a {
       text-decoration: none;
       color: #ffffff;
   
   }
   
   
   
   .container1 {
       max-width: 1170px;
       margin: auto;
   }
   
   .row a {
       text-decoration: none;
       color: white;
   }
   
   
   
   
   footer {
       text-align: center;
   }
   
   .row {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
   }
   
   .row h4 {
       font-size: 1.6rem;
   }
   
   ul {
       list-style: none;
       padding: 0px;
   }

   
   .social-links img {
       height: 40px;
   }
   
   
   @media(max-width: 1086px) {
    .logo img{
     height: 2.8rem;
    }
   


}
    @media(max-width: 1000px) {
        .logo img{
        height: 2.1rem;
        }
        .overview li {
            padding: 1rem;
        }


    }

   
   @media(max-width: 574px) {
       
       .logo img{
        height: 3rem;
       }
   }
   
   @media(max-width: 425px) {
       .logo img{
        height: 2rem;
       }
   }
   
   
   .text-container {
       margin: auto;
       width: 200px;
       height: 5.9rem;
       overflow: hidden;
       text-align: center;
       display: -webkit-box;
       -webkit-line-clamp: 4; 
       -webkit-box-orient: vertical;
       white-space: normal;
       text-overflow: ellipsis;
     }
   
   .hamburger {
       display: none;
       cursor: pointer;
   }

   .small{
    width:max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
   
   .bar {
       width: 25px;
       height: 3px;
       background-color: #fff;
       margin: 5px 0;
       transition: 0.4s;
   }
   
   .change .bar:nth-child(1) {
       -webkit-transform: rotate(-45deg) translate(-6px, 6px);
       transform: rotate(-45deg) translate(-6px, 6px);
   }
   
   .change .bar:nth-child(2) { opacity: 0; }
   
   .change .bar:nth-child(3) {
       -webkit-transform: rotate(45deg) translate(-6px, -6px);
       transform: rotate(45deg) translate(-6px, -6px);
   }
   .dropdown-menu{display: none;}
   
   @media (max-width: 816px) {
       .nav-items ul {
           display: none;
       }
   
       .dropdown-menu {
           display: none;
           position: absolute;
           top: 100%;
           left: 0;
           width: 100%;
           background-color: rgb(20, 20, 20);
           margin: 0;
       }
   
       .hamburger {
           display: block;
           margin-right: 2rem;
       }
   
       .logo, .nav-items {
           display: flex;
           justify-content: center;
           align-items: center;

       }
   }
   
   .dropdown-menu li {
       text-align: center;
   }
   
   .dropdown-menu li a {
       display: block;
       padding: 1rem;
       color: white;
       text-decoration: none;
       transition: background-color 0.3s;
   }
   
   .dropdown-menu li a:hover {
       background-color: #333;
   }



